main {
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 0 10px;
}
h1{
    text-align: center;
}
figure {
    display: grid;
    width: 30%;
    margin: 1.5%;
}

figure img {
    width: 100%;
    height: auto;
}
