:root {
    --primary-color: #0a253f;
    --secondary-color: #2c3e50;
    --accent-color: #0074D9;
    --background-color: #ecf0f1;
    --header-text: #fff;
    --footer-bg: #2c3e50;
    --footer-text: #ecf0f1;
    --card-border: #dfe6e9;
    --text-color: #333;
    width: 1200px;
    margin-left: 20px;
}

body {
    font-family: calibri, Arial, sans-serif;
    margin: 10px 50px;
}

main {
    width: 500px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

header {
    background-color: var(--primary-color);
    color: var(--header-text);
    text-align: center;

}

#course-title {
    display: block;
    font-size: 1.8rem;
}

nav {
    background-color: var(--secondary-color);
    margin: 0 auto 2rem;
    width: max-content;
    display: flex;
    justify-content: space-evenly
}

.links {
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.links a {
    justify-content: space-between;
    color: var(--header-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1 1 auto;
}

nav a:hover {
    font-weight: bold;
    color: var(--header-text)
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    background-color: var(--background-color);
    border: 1px solid var(--card-border);
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    width: 500px;
}

section h1 {
    margin: 0;
    padding: 0.1rem;
    background-color: var(--primary-color);
    color: var(--header-text);
    text-align: center;
}

.card {
    display: inline-block;
    margin: 0 auto;
    width: 450px;
}

.card img {
    float: right;
    position: relative;
    margin: 0.2rem;
}

aside {
    display: block;
    margin: 0 auto;
    width: 450px;
    padding-top: 10px;
}

aside h2 {
    margin: 0;
    padding: 0.1rem;
    color: var(--primary-color);
    text-align: center;

}

.web {
    display: block;
    align-items: left;
    margin: 5rem auto;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.web a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2rem;
}

figure {
    float: left;
    margin: 0.1rem;
}

figcaption {
    text-align: center;
    font-style: italic;
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 2px 0;

}

footer p {
    margin: 0;
}